*{
    color: aliceblue;
}

body{
    /* background-image: url('../images/prog.webp'); */
    background-image: url('../images/bg-pic.jpg');
    background-position: center;
}

main{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: fangsong;
}


footer{
    width: 100%;
    text-align: center;
    font-size: large;
    color: aliceblue;
    background-color: gray;
    position: inherit;
    bottom: 0;
}

nav{
    text-align: end;
    font-size: large;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    opacity: 90%;
    border-radius: 5px;
}

.nav-items{
    /* border: 1px solid rgb(0, 255, 153); */
    border-radius: 5px;
    text-decoration: none;
    padding: 4px;
    margin: 0px 3px;
    display: inline-block;
    color: blue;
}

.nav-items:hover{
    color: white;
    background-color: #ff7300;
    border: 1px dotted white;
    padding: 6px;
}

.active{
    color: white;
    background-color: #ff7300;
    border: 1px dotted white;
    padding: 6px;
}

.my-pic{
    border-radius: 50%;
    border: 5px solid;
}

.name{
    font-size: x-large;
}

.contact-info{
    font-size: larger;
    /* margin-top: 200px; */
    /* text-align: initial;
    margin: 9vh 10vw; */
    margin-top: 12vh;
    display: flex;
    flex-direction: column;
}


  figcaption{
    padding-bottom: 10px;
  }

.img-tab,.detail-tab{
    display: inline-block;
}

.img-tab img{
    border-radius: 10px;
}

.contact-detail a{
    text-decoration: none;
}

.detail-tab{
    text-align: initial;
}


nav .fas{
    color: rgb(61, 71, 211);
}

/* .intro-div img{
    background-color: darkgray;
} */

.footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}

.contact-footer{
    position: absolute;
}

.footer-intro{
    position: absolute;
}

.intro-section{
    display: flex;
    flex-direction: row;
    margin-left: 20vw;
    margin-top: 15vh;
    flex-wrap: wrap;
}

.contact-info a{
    font-size: 20px;
}

.contact-info a:hover{
    color: #00ffce;
}

.fas-active{
    color: aliceblue !important;
}

.footer ul{
    list-style-type: none;
    text-align: initial;
}

.footer li{
    margin-top: 2px;
}

a{
    text-decoration: none;
}

.footer a:hover{
    color: black;
}

.footer-contact{
    position: absolute;
}

@media screen and (max-width: 900px){
    .footer{
        flex-direction: column;
    }

    .footer-intro{
        position: inherit;
    }

    .footer-contact{
        position: inherit;
    }

}

.gallery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
    margin-bottom: 40px;
    margin: 0px 30px 0px 30px;
}

.gallery .card{
    margin: 30px;
}

.card{
    border: 2px solid gray;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card-body{
    padding-bottom: 15px;
}

.card-img-top, .card-img{
    width: inherit;
    height: inherit;
    background-color: aliceblue;

}

.card-title{
    font-style: italic;
    
}

.btn{
    color: #fff;
    background-color: #007bff;
    display: inline-block;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    text-decoration: none;
}

#copyright-text:hover{
    color: black;
}

